@import "../../../../scss/helpers";

.filter-modal {
  min-height: calc(100vh - 50px);
  background: white;
  margin: -40px -20px;

  .filter-modal-title {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: theme-color('default');

    button {
      left: 35px;
      padding: 0;
      border: none;
      position: absolute;
      background: transparent;

      &:focus {
        outline: none;
      }

      img {
        height: 15px;
      }

      & :global .back {
        height: 17px;
      }
    }

    h5 {
      margin: 0;
      font-weight: 400;
    }
  }
}

.filter-modal-body {
  min-height: calc(100vh - 100px);
  background-color: white;
  padding-left: 35px;

  li {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid #f8f8f8;
    font-weight: 400;

    span {
      margin: 0 20px 0 -10px;
      transition: 0.3s;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #f8f8f8;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        transition: 0.3s;
        width: 15px;
        opacity: 0;
      }
    }

    &.active {
      span {
        img {
          opacity: 1;
        }
      }
    }

    &.option {
      border-bottom: none;
    }
  }
}
