<div class="filter-modal">
  <div class="filter-modal-title">
    <button (click)="subMenu ? handleBackClick() : handleCloseClick()">
      <img [src]="subMenu ? 'assets/img/back.svg' : 'assets/img/cancel.svg'" alt="close" />
    </button>
    <h5>{{subMenu ? _menu.name : title}}</h5>
  </div>
  <ul class="filter-modal-body">
    <ng-container *ngIf="subMenu || !subMenu && _menu.items">
      <li (click)="checkFilter(item)" class="option" [ngClass]="{'active': _menu.checked === item}" *ngFor="let item of _menu.items, let i = index">
        <span>
          <img src='assets/img/check.svg' alt="check" />
        </span>
        {{item}}
      </li>
    </ng-container>
    <ng-container *ngIf="!subMenu && !_menu.items">
      <li (click)="selectFilterType(filter)" *ngFor="let filter of _menu, let i = index">
        {{filter.name}}
      </li>
    </ng-container>
  </ul>
</div>
