<ol class="breadcrumb">
  <li class="breadcrumb-item">YOU ARE HERE</li>
  <li class="active breadcrumb-item">E-commerce</li>
</ol>
<h1 class="page-title">E-commerce > <span class="fw-semi-bold">Product detail</span></h1>
<section class="product-main">
  <div class="col-md-8 product-main__photo" style="background-image: url(assets/products/product1.jpg)"></div>
  <div class="col-md-4 product-main__info">
    <div class="rating rating--lg">
      4.8
      <i class="fa fa-star"></i>
    </div>
    <div class="product-main__info-title">Trainers</div>
    <div class="product-main__info-description">Trainers In White</div>
    <div class="price price--lg">$76</div>
    <a href="#" class="product-main__info-size">Size Guide</a>
    <div class="product-main__info-selects" ng-controller="SelectsController">
      <div class="btn-group" dropdown>
        <button id="dropdown-btn-one" class="btn btn-default dropdown-toggle" dropdownToggle>
          <span *ngIf="!size">&nbsp; Select size &nbsp;</span>
          <span *ngIf="size">&nbsp; Size: {{size}} &nbsp;</span>
          <i class="fa fa-caret-down"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dropdown-btn-one">
          <li (click)="changeSize(2)" role="menuitem">
            <a class="dropdown-item">2</a>
          </li>
          <li (click)="changeSize(3)" role="menuitem">
            <a class="dropdown-item">3</a>
          </li>
          <li (click)="changeSize(4)" role="menuitem">
            <a class="dropdown-item">4</a>
          </li>
          <li (click)="changeSize(5)" role="menuitem">
            <a class="dropdown-item">5</a>
          </li>
        </ul>
      </div>
      <div class="btn-group" dropdown>
        <button id="dropdown-btn-two" class="btn btn-default dropdown-toggle" dropdownToggle>
          &nbsp; {{quantility}} &nbsp;
          <i class="fa fa-caret-down"></i>
        </button>
        <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="dropdown-btn-two">
          <li (click)="changeQuantility(1)" role="menuitem">
            <a class="dropdown-item">1</a>
          </li>
          <li (click)="changeQuantility(2)" role="menuitem">
            <a class="dropdown-item">2</a>
          </li>
          <li (click)="changeQuantility(3)" role="menuitem">
            <a class="dropdown-item">3</a>
          </li>
          <li (click)="changeQuantility(4)" role="menuitem">
            <a class="dropdown-item">4</a>
          </li>
          <li (click)="changeQuantility(5)" role="menuitem">
            <a class="dropdown-item">5</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="product-main__info-bag" ng-controller="StarController">
      <button class="add">
        add to bag
        <img src="assets/img/bag.svg" alt="bag">
      </button>
      <button class="star" (click)="toggleProductStarred()">
        <i class="fa fa-2x" [ngClass]="isItemStarred ? 'fa-star': 'fa-star-o'"></i>
      </button>
    </div>
    <div class="product-main__info-payments">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <span class="product-main__info-delivery">
      FREE Delivery & Returns
    </span>
  </div>
</section>
<h3 class="product-page__title">PRODUCT DESCRIPTION</h3>
<section class="product-description">
  <div class="product-description__info">
    <h5>PRODUCT DESCRIPTION</h5>
    <p>Sneakers (also known as athletic shoes, tennis shoes,gym shoes, runners, takkies, or trainers) are shoes primarily designed
      for sports or other forms of physical exercise, but which are now also often used for everyday wear.</p>
    <p>The term generally describes a type of footwear with a flexible sole made of rubber or synthetic material and an upper
      part made of leather or synthetic materials.</p>
  </div>
  <div>
    <h5>PRODUCT CODE</h5>
    1325453
  </div>
  <div>
    <h5>SHARE</h5>
    <span>Share a photo with a tag
      <a href="#">#whitetrainers</a>
    </span>
    <div class="product-description__social">
      <a href="#">
        <i class="fa fa-facebook-f"></i>
      </a>
      <a href="#">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
  <div>
    <h5>TECHNOLOGY</h5>
    <ul>
      <li>Ollie patch</li>
      <li>Cup soles</li>
      <li>Vulcanized rubber soles</li>
    </ul>
  </div>
  <div>
    <h5>RATING & REVIEWS</h5>
    <div class="rating">4.8
      <i class="fa fa-star"></i>
    </div>
    <span class="reviews">32 Reviews</span>
    <a href="#">Read all</a>
  </div>
</section>
<h3 class="product-page__title">YOU MAY ALSO LIKE</h3>
<section class="product-page__carousel">
  <div
  ng2-carouselamos
  [width]="1280"
  [items]="products"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
  ></div>

  <ng-template #prevTemplate>
    <button class="carousel-btn carousel-btn--left">
        <i class="fa fa-angle-left fa-2x"></i>
    </button>
  </ng-template>

  <ng-template #nextTemplate>
    <button class="carousel-btn carousel-btn--right">
        <i class="fa fa-angle-right fa-2x"></i>
    </button>
  </ng-template>

  <ng-template let-item #itemTemplate>
    <div class="col-md-3 product-card">
      <div class="product-card__photo" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
       <div class="photo-label" *ngIf="item.label" [ngClass]="item.label === 'Sale' ? 'red' : 'green'">{{item.label}}</div>
       <div class="star" [ngClass]="item.starred && 'star--fill'" (click)="toggleSliderProductStarred(item.id)">
         <i class="fa" [ngClass]="item.starred ? 'fa-star' : 'fa-star-o'"></i>
       </div>
     </div>
     <h5 class="product-card__title">{{item.title}}</h5>
     <div class="product-card__description">{{item.subtitle}}</div>
     <div class="product-card__price-wrapper">
       <div class="price" *ngIf="!item.isSale">
         ${{item.price}}
       </div>
       <div class="price price--sale" *ngIf="item.isSale">
         <span class="old">${{item.price.old}}</span>
         {{item.price.percents}}% off
         <span class="new"> ${{item.price.new}}</span>
       </div>
       <div class="rating rating--reverce">
         {{item.rating}}
         <i class="fa fa-star"></i>
       </div>
     </div>
    </div>
  </ng-template>
</section>
