<div
  ng2-carouselamos
  [width]="1280"
  [items]="cards"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate"
></div>

<ng-template #prevTemplate>
  <button class="carousel-btn carousel-btn--left">
    <i class="fa fa-angle-left fa-2x"></i>
  </button>
</ng-template>

<ng-template #nextTemplate>
  <button class="carousel-btn carousel-btn--right">
    <i class="fa fa-angle-right fa-2x"></i>
  </button>
</ng-template>

<ng-template let-item #itemTemplate>
  <div class="col-md-3 col-6 product-card">
    <div class="product-card__photo" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
      <div class="photo-label" *ngIf="item.label" [ngClass]="item.label === 'Sale' ? 'red' : 'green'">{{item.label}}</div>
      <div class="star" [ngClass]="item.starred && 'star--fill'" (click)="toggleSliderProductStarred(item.id)">
        <i class="fa" [ngClass]="item.starred ? 'fa-star' : 'fa-star-o'"></i>
      </div>
    </div>
    <h6 class="product-card__title">{{item.title}}</h6>
    <div class="product-card__description">{{item.subtitle}}</div>
    <div class="product-card__price-wrapper">
      <div class="price" *ngIf="!item.isSale">
        ${{item.price}}
      </div>
      <div class="price price--sale" *ngIf="item.isSale">
        <span class="old">${{item.price.old}}</span>
        {{item.price.percents}}% off
        <span class="new"> ${{item.price.new}}</span>
      </div>
      <div class="rating rating--reverce">
        {{item.rating}}
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</ng-template>
